<div class="main-sidebar"  >
    <aside id="sidebar-wrapper">
      <div class="sidebar-brand">
        <a href="https://bitsten.finance">NERO FARM</a>
      </div>
      <div class="sidebar-brand sidebar-brand-sm">
        <a href="https://nero.finance">D</a>
      </div>
      <ul class="sidebar-menu">
          
          <li class="menu-header" >Begin</li>
         
          <li><a class="nav-link" href="/"><i class="bi bi-clipboard-data side-icon"></i> <span>Dashboard</span></a></li>
         
          <li><a class="nav-link" href="farms"><i class="bi bi-calendar-check-fill side-icon"></i> <span>Farms</span></a></li>
        

          
         
       
          <li class="menu-header">Help</li>
          <li><a class="nav-link" href="help"><i class="bi bi-box-arrow-in-up-right side-icon"></i> <span>How to Use</span></a></li>
        
        
    </aside>


    <div class="text-center pt-3 " style=' position: absolute;bottom:0px;height:100px;right:0;left:0' >
     <h6><a target='_blank' href='https://bscscan.com/token/0x6E0fB6B19941FAf58982F09b33A9dceDa4377155'> <img src="https://bscscan.com/token/images/nerofinance_32.png"  width="30px"> $ <span class='price-nero' ><%= data.nero -%></span></a></h6>
    </div>
  </div>


  
  </head>
  <body>
 

  </body>