<% layout('../layouts/app') -%>
<link rel="stylesheet" href="stisla/assets/css/customs/farm.css">
  
 
  <div class="row listing" style='max-width: 1000px ; margin:20px auto;'>
 <div class="col-12 text-center">
    
     <h1>Nero.Finance</h1>
 </div>

 <div class="col-12">
  
  <b>The Goal</b><br>
  Farming is adding liquidity to the market, farming LP will make NERO  stronger in the market.
  <br><br>
  
  <b>How to Farm </b><br>
  The first Users need to create LP BUSD-NERO at Pancakeswap.
  <br><br>

  <b>Deposit Fee </b><br>
  Deposit fee will reduct your deposit LP and unwithdrawable forever , this mean if your deposit 123 LP and fee is 10% 12.3 LP will unremovable forever.
  <br><br>

  <b>Deposit Lock </b><br>
  Deposit Lock ( Days ) mean , user unable to withdraw LP , until reach remaining Days.
  <br><br>

  <b>Reward Come From </b><br>
  Reward is Come from airdrop & undistribution token will add to nero.finance reward pool.
  <br><br>

  <b>Reward Calculation</b><br>
  Reward each block BSC is Available pool reward / 2,000,000.
  <br><br>
 
  
  
 </div>

 

</div>